@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.e-header {
    background: #fff;
    padding: 100px 0 70px 0;
}

.e-header .E-img {
    max-width: 100%;
}

.enterprise1 p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #01001D;
}

@media only screen and (max-width:1024px) {
    .enterprise1 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.enterprise1 .brands-img {
    max-width: 100%;
}

.enterprise2 {
    background: #7837F8;
    padding: 40px 0 80px 0;
}

.enterprise2 h3 {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .enterprise2 h2 {
        font-size: 20px;
        line-height: 24px;
    }
}

.enterprise2 p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #ffffffe6;
}