@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.e-header {
    background: #fff;
    padding: 100px 0 70px 0;
}

.e-header .E-img {
    max-width: 100%;
}

.enterprise1 p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #01001D;
}

@media only screen and (max-width:1024px) {
    .enterprise1 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.enterprise1 .brands-img {
    max-width: 100%;
}

.enterprise2 {
    background: #7837F8;
    padding: 40px 0 100px 0;
}

.enterprise2 h3 {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 70px;
}

@media (max-width: 992px) {
    .enterprise2 h2 {
        font-size: 20px;
        line-height: 24px;
    }
}

.enterprise2 p {
    max-width:  784px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #ffffffe6;
}

@media only screen and (max-width:1024px) {
    .enterprise2 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.enterprise2 .check-list {
    max-width: 29.33px;
}

.enterprise3 {
    background: #fff;
    padding: 50px 0 50px 0;
}

.enterprise3 .e-wrapper {
    max-width: 1539px;
    /* height: 295px; */
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(51, 51, 51, 0.13);
    border-radius: 10px;
    margin-top: -150px;
    width: 70%;
}

.enterprise3 .award {
    max-width: 191px;
}

.enterprise3 h3 {
    margin: auto;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}

@media (max-width: 992px) {
    .enterprise3 h3  {
        font-size: 20px;
        line-height: 24px;
    }
}

.enterprise3 p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
}

@media only screen and (max-width:1024px) {
    .enterprise3 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.enterprise3 .tools-img {
    max-width: 100%;
    margin-top: 50px;
}

.enterprise4 {
    padding: 50px 0 50px 0;
    background: rgba(204, 204, 204, 0.1);
}

.enterprise4 h6 {
    max-width: 417px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #333333;
}

.enterprise4 p {
    max-width: 850px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgba(69, 69, 69, 0.9);
}

.enterprise4 .africa {
    max-width: 40%;
}