@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.contact-header {
    background: #e1e1e1;
    padding: 70px 0 70px 0;
}

.contact-header form {
    margin-top: 80px;
    max-width: 851px;
    padding: 3em 3em 1em;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
}

.contact-header label {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}

@media (max-width: 1024px) {
    .contact-header label {
        font-size: 12px;
    }
}

.contact-header input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: .6em .5em;
    background: #FFFFFF;
    border: 2px solid rgba(51, 51, 51, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}

@media (max-width: 1024px) {
    .contact-header input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: .4em .3em;
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 10px;
      }
}

.contact-header textarea {
    padding: .2em .5em;
    background: #FFFFFF;
    border: 2px solid rgba(51, 51, 51, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .contact-header textarea {
        padding: .2em .2em;
    }
}

.contact-header button {
    background: #462686;
    border-radius: 50px;
    width: 100%;
    color: #fff;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 15px;
    text-decoration: none;
    border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .contact-header button {
        padding: 6px 9px;
        font-size: 12px;
    }
}