@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.header {
    background: #fff;
    padding: 100px 0 100px 0;
}

.header h1 {
    max-width: 625px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 60px;
    color: #333333;
    margin-top: 120px;
    margin-bottom: 0.5em;
}

@media (max-width: 992px) {
    .header h1 {
        font-size: 25px;
        line-height: 30px;
    }
}

.header p {
    max-width: 557px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 2em;
}

@media only screen and (max-width:1024px) {
    .header p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.header .btn-solid-lg {
    max-width: 273px;
    background: #462686;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 35px;
    color: #FFFFFF;
    text-decoration: none;
}

@media only screen and (max-width:1024px) {
    .header .btn-solid-lg {
       font-size: 14px; 
       line-height: 16px;
       padding: 10px 15px !important;
    }
}

.home1 {
    background: #fff;
    padding: 30px 0 30px 0;
}

.home1 p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #01001D;
}

@media only screen and (max-width:1024px) {
    .home1 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.home1 .brands-img {
    max-width: 100%;
}

.home2 {
    background: #fff;
    padding: 50px 0 50px 0;
    box-shadow: 0px 10px 5px rgb(252, 250, 250), 0px -10px 5px rgb(252, 250, 250);
}

.home2 h5 {
    max-width: 464px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-top: 100px;
}

@media (max-width: 992px) {
    .home2 h1 {
        font-size: 20px;
        line-height: 24px;
    }
}

.home2 p {
    max-width: 593px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(69, 69, 69, 0.8);
}

@media only screen and (max-width:1024px) {
    .home2 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.home3 {
    background: #fff;
    padding: 50px 0 50px 0;
}

.home3 h6 {
    max-width: 555px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-top: 100px;
}

@media (max-width: 992px) {
    .home3 h6 {
        font-size: 20px;
        line-height: 24px;
    }
}

.home3 p {
    max-width: 593px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(69, 69, 69, 0.8);
}

@media only screen and (max-width:1024px) {
    .home3 p {
       font-size: 12px; 
       line-height: 22px;
    }
}

.home3 .tools-img {
    max-width: 100%;
}

.home4 {
    background: #7837F8;
    padding: 70px 0 70px 0;
}

.home4 h5 {
    /* max-width: 655px; */
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .home4 h5 {
        font-size: 25px;
        line-height: 30px;
    }
}

.home4 p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 2em;
}

@media only screen and (max-width:1024px) {
    .home4 p {
       font-size: 12px; 
       line-height: 20px;
    }
}

.home4 .btn-solid-lg {
    max-width: 273px;
    background: #462686;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 35px;
    color: #FFFFFF;
    text-decoration: none;
}

@media only screen and (max-width:1024px) {
    .home4 .btn-solid-lg {
       font-size: 14px; 
       line-height: 16px;
       padding: 10px 15px !important;
    }
}