@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.footer-section {
    background: #fff;
    padding: 70px 0 30px 0;
}

.footer-logo {
    width: 174.86px;
    height: 54.29px;
}

@media only screen and (max-width:1024px) {
    .footer-logo {
        width: 100px;
        height: 30px;
    }
}

.footerbar {
    text-decoration: none !important;
}

.footer-border {
    max-width: 100px;
    height: 35px;
    border: 2px solid #462686;
    box-sizing: border-box;
    border-radius: 10px;
}

.footerbar .dropdown-link {
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;  
    color: #462686 !important;
    letter-spacing: normal;
    transition: .3s cubic-bezier(0.13, 0.38, 0.45, 0.94);
}
  
@media only screen and (max-width:1024px) {
    .footerbarDropdown .dropdown-link {
       font-size: 12px; 
       line-height: 12px;
    }
}

.footerbarDropdown .dropdown-menu {
    max-width: 371.46px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px #ffffff33;
    border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
    .footerbarDropdown .dropdown-menu {  
        max-width: 371.46px;
    }

}

.footerbar .dropdown-menu .dropdown-item {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #462686;
}

@media only screen and (max-width: 1024px) {
    .footerbar .dropdown-menu .dropdown-item {  
        font-size: 12px;
    }
}

.footer-section p {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #454545;
}

@media only screen and (max-width:1024px) {
    .footer-section p {
       font-size: 14px; 
       line-height: 22px;
    }
}

.footer-section span {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #01001d99;
}

@media only screen and (max-width:1024px) {
    .footer-section span {
       font-size: 12px; 
       line-height: 18px;
    }
}

.footer-section .social_info {
        display: flex;
      justify-content: flex-end;
      padding: 1rem 0 0 0 0;
}

.social_info .footer-icon {
        background-color: #fff;
        color:  #454545;   
        width: 2.5rem;
        height: 2.5rem;
        /* border-radius: 50%; */
        /* margin: 0 0.5rem; */
        display: inline-flex;
        justify-content: center;
        align-items: center;
}

.footer-section h6 {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight:bold;
    font-size: 17px;
    line-height: 30px;
    color: #454545;
    text-transform: uppercase;
    /* margin-left: 30px; */
}

@media only screen and (max-width:1024px) {
    .footer-section h6 {
        font-size: 11px;
        line-height: 25px;
    }
}

.footer-section .unorder-list {
    list-style-type: none;
    padding: 0;
}

.footer-section .footer-list {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #01001d99 !important;
    list-style: none;
    text-decoration: none !important;
}

@media only screen and (max-width:1024px) {
    .footer-section .footer-list {
        font-size: 11px;
        line-height: 25px;
    }
}

/* .footer-section hr { */
    /* border: 0.2px solid rgba(69, 69, 69, 0.13); */
/* } */